@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body {
	font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
	margin: 0;
}
a:link, a:visited {
	color: #bfbfbf;
}
a:active, a:hover {
	color: #bfbfbf;
}

.header {
	padding: 30px;
	text-align: center;
}

.header p {
	color: #555;
	font-size: small;
}

.webplayer-placeholder p {
	color: #dddddd;
	font-size: x-small;
}
/*p.header {
	font-size: small;
}
p.header span {
	font-weight: bold;
}*/
p.footer {
	font-size: x-small;
}
div.content {
	margin: auto;
	width: 960px;
	border-width: 5px;
	border-color:#282828  ;
	border-style:solid;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
div.broken,
div.missing {
	margin: auto;
	position: relative;
	top: 50%;
	width: 193px;
}
div.broken a,
div.missing a {
	height: 63px;
	position: relative;
	top: -31px;
}
div.broken img,
div.missing img {
	border-width: 0px;
}
div.broken {
	display: none;
}
div#unityPlayer {
	cursor: default;
	height: 600px;
	width: 960px;

}

div.description {
	margin: auto;
	width: 960px;
	color: black;
	text-align: justify;
	color: #555;
}

div.game {
	background-image: url(../images/groovilicious-animated-stars-night.gif);
	background-position: 50% 50%;
	background-color: black;
	background-repeat: repeat;
	background-attachment: fixed;
	padding: 50px;
	text-align: center;
	color: white;
}

img.nasaimg {
	margin: 0 auto;
	display: block;
	padding: 50px;
}

div.bubble {
	border: 1px solid #205AA7;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 30px;
	font-family: 'courier';
	text-align: center;
	color: #205AA7;
	margin-bottom: 50px;

}

h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 4em;
	color: #555;
	margin-bottom: -10px;
	margin-top: -10px;
}

h2 {
	color: #272727;
	font-weight: 400;
	font-family: "Open Sans";
}


footer {
	background-color: black;
	margin-top: 100px;
	text-align: center;
	padding: 20px 0 10px 0;
}

footer img {
	width: 50px;
	height: 50px;
}

footer p, footer a {
	font-size: small;
	color: white;
	font-family: 'Open Sans';
	font-weight: 100;
}

.webplayer-placeholder {
	height: 600px;
	width: 960px;
	background-color: black;
}

input[type=button]
{
	cursor: pointer;
	cursor: hand;
	font-size: large;
	font-weight: 600;
	font-family: 'Open Sans';
    background-color: white;
    border-style: none;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #205AA7;
    height: 50px;
    width: 300px;
    margin-top: 28%;
}

input[type=button]:hover
{
	background-color: grey;
	color: white;
	font-size: larger;
	font-weight: 600;
	background-color: #205AA7;
}

div.links {
	margin: 30px auto;
	width: 960px;
	color: black;
	text-align: justify;
}

.links a {
	color: #555;
	font-weight: 100;
	color: #555;
}

.links a:hover {
	font-weight: 400;
}